* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  font-size: 16px;
  background-color: black;
  overflow: hidden;
}
#board {
  margin: 40px auto;
}
.cell {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}
.cell.snake {
  background-color: green;
}
.cell.food {
  /* background-color: yellow; */
  position: relative;
}
.cell.food::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url('https://cdn-icons-png.flaticon.com/512/2821/2821784.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
